/* -------------------------------------------------
--------------- Global CSS -------------------------
--------------------------------------------------*/
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;

}

#header {
    margin-top: -20px;
}

/* Sticky footer styles
-------------------------------------------------- */


/* Navbar
-------------------------------------------------- */
#navbar {


}

/* -------------------------------------------------
------------- Build your House page -----------------
--------------------------------------------------*/

#box {
     border: 2px solid;
     padding: 10px 40px;
     width: 300px;
     resize: both;
     overflow: auto;
 }