{% extends 'page.twig' %}

{% block links %}
    {# <link> for non-css and non-type things#}
{% endblock links %}

{% block type %}
    {# <link> for webfonts #}
{% endblock type %}

{% block css %}
    {# <link> for any other CSS files you need #}
{% endblock css %}

{% block scripts %}
    {# <script src=""></script> for any other JS files you need #}
{% endblock scripts %}

{% block setup %}
    {# Any javascript you need that is NOT run on load goes in this block. NB you don't need <script></script> tags  here #}
{% endblock setup %}

{% block onload %}
    {# Any javascript you need that MUST run on load goes in this block. NB you don't need <script></script> tags  here #}
{% endblock onload %}

{% block header %}
    <div class="row">
        <div class="col-md-12">
            <div class="header">
                <h1>Home</h1>
            </div>
        </div>
    </div>
{% endblock header %}

{% block main %}
    <div class="row">
        <div class="col-md-12">

            <div id="map">

            </div>

        </div>
    </div>
{% endblock main %}

