<script src="js/sensors.js"></script>
<div class="row">
    <div class="col-xs-10 col-md-10">
        <div id="accordion-resizer">
            <div id="accordion" class="wrapper">

                <h3 class="hide-text">Sensors</h3>
                <div>
                    <img id="sensor1" class="sensor" src="images/sensor1.png">
                    <img id="sensor2" class="sensor" src="images/sensor2.png">
                    <img id="sensor3" class="sensor" src="images/sensor3.png">
                    <img id="sensor4" class="sensor" src="images/sensor4.png">
                    <img id="sensor5" class="sensor" src="images/sensor5.png">
                    <img id="sensor6" class="sensor" src="images/sensor6.png">
                </div>

                {#
                 <h3 class="hide-text">Sensors</h3>
                 <div>
                     <img id="sensor0" class="imageToDrag" src="images/sensor.png" alt="sensor">
                    <!-- <img id="sensor1" class="imageToDrag" src="images/sensor2.png" alt="sensor2"> -->
                 </div>#}
            </div>
        </div>
    </div>
    <div class="col-xs-2 col-md-2">
        <button type="button" class="btn btn-primary btn-lg" id="save">Save</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div id="map"></div>
    </div>
</div>

